*{
    margin:0;
    padding: 0;
}
/* primary styles */
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    padding:60px 120px;
    padding-right: 0;
    padding-bottom: 0;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.primary-btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    color:#fff;
}
.menu-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.logo h2 span{
    color:#FD6E0A;
}
nav ul{
    display: flex;
}
nav ul li{
 list-style-type: none;
  padding: 0 13px;
}
nav ul li a{
 text-decoration: none;
 color:#474747;
}
.banner-area{
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.banner-left h3{
    font-size: 45px;
    font-weight: 400;
}
.banner-left h1{
    font-size: 70px;
    font-weight: 600;
}
.banner-left p{
    font-size: 18px;
    color:#757575;
}
.banner-btn-area{
    margin-top: 15px;
}
.banner-btn-area .contact-btn{
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #FD6E0A;
    border-radius: 2px;
    padding:10px 15px;
    color:#FD6E0A;
}
/* about me styles */
.section-head{
    margin-top:150px;
}
.section-head h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-head p{
    margin: 0 270px;
    text-align: center;
    line-height: 2;
}
.about-me{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.about-me-single{
    padding: 20px;
}
.skills{
    margin: 50px 200px;
    display: flex;
}
.skill{
    padding: 40px;
    box-shadow: 5px 10px #eeeded;
}
/* resume styles */
.resume-wrapper{
    display: flex;
    margin: 50px 200px;
}
.resume-wrapper h3{
    color:#474747;
    padding-bottom: 25px;
    font-size: 30px;
}
.resume-wrapper h4{
    color:#474747;
    font-size: 20px;
}
.resume-wrapper h5{
    color:#757575;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0;
}
.resume-wrapper p{
    color:#757575;
    font-size: 16px;
    line-height: 2;
}
.resume-wrapper hr{
    margin: 50px 0;
}
.education-area{
    margin-right: 30px;
}